html,
body {
  height: 100%;
  margin: 0;
}



header {
  background-color: #fffafa;
  color: white;
  padding: 10px;
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.logo img {
  width: 8rem; /* Adjust the width as needed */
  height: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
